/* Carousel Styling */
.slide {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
/* Indicators list style */
.home-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 0px;
    width: 100%;
    position: relative;
}
/* Indicators list style */
.home-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 5px;
    width: 75px;
}
/* Indicators images style */
.home-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 75px;
}
/* Indicators active image style */
.home-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: #337ab7;
}
.carousel-caption h1 {
    font-size: 4em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: .4em;
    color: #000;
}

/* Jumbotron Styling */
.container-fluid .jumbotron {
    margin-bottom: 0px;
    border-radius: 0px;
}
.jumbotron p {
    font-size: 14px;
}

/* grid framework */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, 
.col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, 
.col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 15px;
}