<div id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 hidden-xs"></div>

            <div class="col-lg-2 col-md-3 col-xs-12 text-center">
                <img src="<?php echo IMG_DFL_LOGO; ?>">
            </div>

            <div class="col-lg-2 col-md-3 col-xs-12">
                <h3>About DPhiL</h3>
                <ul>
                    <li><a href="#">National Office</a></li>
                    <li><a href="#">Merchandise</a></li>
                    <li><a href="#">National Policies</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 col-xs-12">
                <h3>GSU Greek Life</h3>
                <ul>
                    <li><a href="#">Four Pillars</a></li>
                    <li><a href="#">Multicultural Greek Council</a></li>
                    <li><a href="#">Hazing Policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 col-xs-12">
                <h3>Contact Us</h3>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>  Facebook</a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i>  Twitter</a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i>  LinkedIn</a></li>
                    <li><a href="#"><i class="fa fa-mail-forward" aria-hidden="true"></i>  Email</a></li>
                </ul>
            </div>

        </div>

        <div class="row" id="copyright">
            <div class="col-xs-12 text-center">
                <span class="glyphicon glyphicon-copyright-mark"></span>  2016 Delta Phi Lambda Sorority, Inc
                <br>
                Designed by <b> Vannary "O.P.I." Fowler</b>
            </div>
        </div>
    </div>
</div>