<div id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 col-xs-push-2">
                <h3>About DPhiL</h3>
                <ul>
                    <li><a href="#">National Office</a></li>
                    <li><a href="#">Merchandise</a></li>
                    <li><a href="#">National Policies</a></li>
                    <li><span class="glyphicon glyphicon-copyright-mark"></span> 2016 Vannary "O.P.I." Fowler</li>
                </ul>
            </div>
            <div class="col-xs-2 col-xs-push-2">
                <h3>Contact Us</h3>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>  Facebook</a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i>  Twitter</a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i>  LinkedIn</a></li>
                    <li><a href="#"><i class="fa fa-mail-forward" aria-hidden="true"></i>  Email</a></li>
                </ul>
            </div>
            <div class="col-xs-2 col-xs-push-2">
                <h3>GSU Greek Life</h3>
                <ul>
                    <li><a href="#">Four Pillars</a></li>
                    <li><a href="#">Multicultural Greek Council</a></li>
                    <li><a href="#">Hazing Policy</a></li>
                </ul>
            </div>
            <div class="col-xs-2 col-xs-push-2">
                <h3>Our Georgia Sisters</h3>
                <ul>
                    <li><a href="#">Alpha - University of Georgia</a></li>
                    <li><a href="#">Zeta - Georgia Institute of Technology</a></li>
                    <li><a href="#">Theta - Emory University</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>