<div id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 hidden-xs"></div>

            <div class="col-lg-2 col-md-3 col-xs-12 text-center">
                <img src="<?php echo IMG_DFL_LOGO; ?>">
            </div>

            <div class="col-lg-2 col-md-3 col-xs-12">
                <h3>About DPhiL</h3>
                <ul style="list-style-type:none; padding:0px;">
                    <li><a href="http://deltaphilambda.org/"><i class="fa fa-square" aria-hidden="true"></i> National Website</a></li>
                    <li><a href="http://deltaphilambda.org/about/national-office/"><i class="fa fa-square" aria-hidden="true"></i> National Office</a></li>
                    <li><a href="http://deltaphilambda.org/about/chapters/"><i class="fa fa-square" aria-hidden="true"></i> Chapters</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 col-xs-12">
                <h3>GSU Greek Life</h3>
                <ul style="list-style-type:none; padding:0px;">
                    <li><a href="http://greeklife.gsu.edu/four-pillars/"><i class="fa fa-square" aria-hidden="true"></i> Four Pillars</a></li>
                    <li><a href="http://greeklife.gsu.edu/multicultural-greek-council/"><i class="fa fa-square" aria-hidden="true"></i> Multicultural Greek Council</a></li>
                    <li><a href="http://greeklife.gsu.edu/hazing-policy/"><i class="fa fa-square" aria-hidden="true"></i> Hazing Policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 col-xs-12">
                <h3>Follow Us</h3>
                <ul style="list-style-type:none; padding:0px;">
                    <li><a href="https://www.facebook.com/GSUDeltaPhiLambda/"><i class="fa fa-facebook-official" aria-hidden="true"></i>  Facebook</a></li>
                    <li><a href="https://www.instagram.com/gsudphil/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i>  Instagram</a></li>
                    <li><a href="https://twitter.com/GAState_DPhiL"><i class="fa fa-twitter-square" aria-hidden="true"></i>  Twitter</a></li>
                    <li><a href="https://www.youtube.com/channel/UCUZL5d6rs-tOFUL7rSSQomQ"><i class="fa fa-youtube-square" aria-hidden="true"></i>  YouTube</a></li>
                </ul>
            </div>

        </div>

        <div class="row" id="copyright">
            <div class="col-xs-12 text-center">
                <span class="glyphicon glyphicon-copyright-mark"></span>  2016 Delta Phi Lambda Sorority, Inc
                <br>
                Designed by <b> Vannary "O.P.I." Fowler</b>
                <br>
                <?php echo (round(microtime(true) - $GLOBALS['time'], 4)) . ' seconds'; ?>
                <br>
                <?php echo round(memory_get_usage(true)/1048576,2) . ' megabytes'; ?>
            </div>
        </div>
    </div>
</div>