<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="media">
                <div class="media-left media-middle">
                    <a href="<?php echo HOST_NAME; ?>"><img class="media-object img-rounded" src="/site-dphil/public/images/dfl_crest.png" alt="DFL Crest"></a>
                </div>
                <div class="media-body media-middle">
                    <div class="text-center">
                        <h1 style="font-family: 'Petit Formal Script', cursive; font-weight: bold; font-size: 44px"><?php echo SITE_HEADER; ?></h1>
                        <?php foreach(unserialize(SITE_SUBHEADER) as $subHeader): ?>
                            <h3 style="font-family: 'Raleway', sans-serif; font-size: 32px"><?php echo $subHeader; ?></h3>
                        <?php endforeach; ?>
                    </div>
                    <div>
                        <i class="fa fa-instagram fa-2x pull-right" aria-hidden="true"></i>
                        <i class="fa fa-twitter-square fa-2x pull-right" aria-hidden="true"></i>
                        <i class="fa fa-facebook-square fa-2x pull-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <ul class="nav nav-pills nav-justified">
                <?php foreach(unserialize(SITE_NAV) as $navItem): ?>
                    <?php $href = $navItem['url']; ?>

                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           <?php if ( !empty($href) ): ?>
                                <?php $href = HOST_NAME . '/' . $href; ?>
                                href="<?php echo $href; ?>"
                           <?php endif; ?>
                           >
                           <?php echo $navItem['title']; ?> <?php if ( empty($href) ): ?><span class="caret"></span><?php endif; ?>
                       </a>
                       <?php if ( !empty($navItem['children']) && empty($href) ): ?>
                            <ul class="dropdown-menu">
                                <?php foreach($navItem['children'] as $navSubItem): ?>
                                    <?php $subHref = $navSubItem['url']; ?>

                                    <?php if ( !empty($subHref) ): ?>
                                        <?php $subHref = HOST_NAME . '/' . $subHref; ?>
                                    <?php endif; ?>

                                    <li><a href="<?php echo $subHref; ?>"><?php echo $navSubItem['title']; ?></a></li>
                                <?php endforeach; ?>
                            </ul>
                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
</div>