<link rel="stylesheet" type="text/css" href="/site-dphil/public/css/bootstrap.css">
<link rel="stylesheet" href="/site-dphil/public/font-awesome/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Petit+Formal+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/site-dphil/public/js/bootstrap.min.js"></script>