<div class="row" style="margin-bottom:10px;">
    <div class="col-sm-12">
        <h2 id="sisters_main_description" class="font-script text-center"></h2>
    </div>
    <div class="col-sm-12">
        <img class="img-responsive center-block" src="<?php echo $data['class_image']; ?>">
    </div>
</div>

<div class="row">
    <?php $count = 0; ?>
    <?php foreach ($data['roster'] as $member): ?>
        <?php if ( $count % 3 == 0 && $count > 0 ): ?>
            </div>
            <div class="row">
        <?php endif; ?>
        <div class="col-md-4 col-xs-12">
            <div class="panel panel-default" style="border-color:#002147;">
                <div class="panel panel-heading" style="background-color:#002147; border-color:#002147; color:#FFF;">
                    <h4>
                        <span class="font-script">
                            <?php echo $member->getFirstName(); ?>
                        </span>
                        "<b><?php echo $member->getLineName(); ?></b>"
                        <span class="font-script">
                            <?php echo $member->getLastName(); ?>
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <ul style="list-style-type: none; text-align: left; padding-left: 0px;">
                        <?php foreach(SistersModel::ROSTER_TABLE as $column ): ?>
                            <li style="padding-top: 5px; padding-bottom: 5px;">
                                <strong><?php echo $column['header'] . ' '; ?></strong><?php echo $member->$column['key'](); ?>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            </div>
        </div>
        <?php $count++; ?>
    <?php endforeach; ?>
</div>