            <div id="footer" class="container-fluid">
                <div class="row content-row">
                    <div class="col-xs-2"></div>

                    <div class="col-xs-1 text-center">
                        <img src="<?php echo SITE_URL . '/public/images/left-butterfly.png'; ?>" width="100%">
                    </div>

                    <div class="col-xs-2">
                        <h4>About DPhiL</h4>
                        <ul style="list-style-type:none; padding:0px;">
                            <li><a href="http://deltaphilambda.org/" target="_blank"><i class="fa fa-square" aria-hidden="true"></i> National Website</a></li>
                            <li><a href="http://deltaphilambda.org/about/national-office/" target="_blank"><i class="fa fa-square" aria-hidden="true"></i> National Office</a></li>
                            <li><a href="http://deltaphilambda.org/about/chapters/" target="_blank"><i class="fa fa-square" aria-hidden="true"></i> Chapters</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-2">
                        <h4>GSU Greek Life</h4>
                        <ul style="list-style-type:none; padding:0px;">
                            <li><a href="http://greeklife.gsu.edu/four-pillars/" target="_blank"><i class="fa fa-square" aria-hidden="true"></i> Four Pillars</a></li>
                            <li><a href="http://greeklife.gsu.edu/multicultural-greek-council/" target="_blank"><i class="fa fa-square" aria-hidden="true"></i> Multicultural Greek Council</a></li>
                            <li><a href="http://greeklife.gsu.edu/hazing-policy/" target="_blank"><i class="fa fa-square" aria-hidden="true"></i> Hazing Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-2">
                        <h4>Follow Us!</h4>
                        <ul style="list-style-type:none; padding:0px;">
                            <li><a href="https://www.facebook.com/GSUDeltaPhiLambda/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i>  Facebook</a></li>
                            <li><a href="https://www.instagram.com/gsudphil/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>  Instagram</a></li>
                            <li><a href="https://twitter.com/GAState_DPhiL" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i>  Twitter</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-1 text-center">
                        <img src="<?php echo SITE_URL . '/public/images/right-butterfly.png'; ?>" width="100%">
                    </div>

                    <div class="col-xs-2"></div>
                </div>

                <div class="row copyright-row">
                    <div class="col-xs-12 text-center">
                        <div>
                            © 2016 Delta Phi Lambda, Inc.  All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>

            <a id="back-to-top" href="#" class="btn btn-primary btn" role="button" title="Return to Top" data-toggle="tooltip" data-placement="left">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </body>
</html>
