<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">Executive Board</h2>
                </div>
            </div>

            <style>.thumbnail { margin-bottom:0px; }</style>

            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <div class="well well-sm">
                                <div style="display:table;">
                                    <div style="display:table-cell;">
                                        <div class="thumbnail">
                                            <img class="center-block" src="<?php echo SITE_URL . '/public/images/leaders/president.png'; ?>" style="height:125px;">
                                        </div>
                                    </div>
                                    <div style="display:table-cell; vertical-align:middle; padding-left:20px;">
                                        <div class="caption">
                                            <div class="h4">Courtney "Seraphina" Escorza</div>
                                            <h4><b>President</b></h4>
                                        </div>
                                        <p>
                                            Oversees all chapter functions and operations.
                                        </p>
                                        <p>
                                            <b>Email:</b> <a href="#">president.dphilgsu@gmail.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- left column containing e-board -->
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img class="center-block" src="<?php echo SITE_URL . '/public/images/leaders/vp-internal.png'; ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="caption">
                                            <div class="h4">Monica "Perenna" Izaguirre</div>
                                            <h4><b>Vice President of Internal Affairs</b></h4>
                                        </div>
                                        <p>
                                            Oversees all internal chapter affairs and functions.
                                        </p>
                                        <p>
                                            <b>Email:</b> <a href="#">vpinternal.dphilgsu@gmail.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img class="center-block" src="<?php echo SITE_URL . '/public/images/leaders/vp-external.png'; ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="caption">
                                            <div class="h4">Michelle "Akintsugi" Dimalanta</div>
                                            <h4><b>Vice President of External Affairs</b></h4>
                                        </div>
                                        <p>
                                            Oversees all external chapter affairs and functions.
                                        </p>
                                        <p>
                                            <b>Email:</b> <a href="#">vpexternal.dphilgsu@gmail.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img class="center-block" src="<?php echo SITE_URL . '/public/images/leaders/vp-records.png'; ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="caption">
                                            <div class="h4">Leah "Aquilaria" O'Rourke</div>
                                            <h4><b>Vice President of Records</b></h4>
                                        </div>
                                        <p>
                                            Manages all chapter records and data.
                                        </p>
                                        <p>
                                            <b>Email:</b> <a href="#">vprecords.dphilgsu@gmail.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img class="center-block" src="<?php echo SITE_URL . '/public/images/leaders/vp-finance.png'; ?>">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="caption">
                                            <div class="h4">Lisa "Hathora" Vo</div>
                                            <h4><b>Vice President of Finance</b></h4>
                                        </div>
                                        <p>
                                            Manages all financial affairs of the chapter.
                                        </p>
                                        <p>
                                            <b>Email:</b> <a href="#">vpfinance.dphilgsu@gmail.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- right column containing chairs -->
                <div class="col-xs-5 col-xs-offset-1">
                    <div class="row">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Dean of Academics</b></div>
                                <div class="pull-right text-right">Maggie "Arson" Kong</div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Alumnae Liaison</b></div>
                                <div class="pull-right text-right">Michelle "Akintsugi" Dimalanta</div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Creative Director</b></div>
                                <div class="pull-right text-right">Morgan "Espríe" Davis</div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Founder's Week Director</b></div>
                                <div class="pull-right text-right">Leah "Aquilaria" O'Rourke</div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Fundraising Chairs</b></div>
                                <div class="pull-right text-right">
                                    <div>Jarleen "Etérea" Dong</div>
                                    <div>Leslie "Callena" Zaidy Vega</div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Historian</b></div>
                                <div class="pull-right text-right">Sonja "Okalani" Phonesanith</div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Jade Times Liason</b></div>
                                <div class="pull-right text-right">Soomin "Arden" Jeon</div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>MGC Delegate</b></div>
                                <div class="pull-right text-right">
                                    <div>Yari "Aeslene" Mena</div>
                                    <div>Monica "Perenna" Izaguirre</div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Philanthropy Chair</b></div>
                                <div class="pull-right text-right">Jsanelle "Anatsukashii" Wright</div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Public Relations</b></div>
                                <div class="pull-right text-right">Erica "Inarilumi" Alexander</div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Recruitment Chairs</b></div>
                                <div class="pull-right text-right">
                                    <div>Lisha "Hathora" Vo</div>
                                    <div>Sonja "Okalani" Phonesanith</div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Sisterhood Chair</b></div>
                                <div class="pull-right text-right">Elizabeth "Ailani" Kim</div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Social Chair</b></div>
                                <div class="pull-right text-right">Sydney "Arisa" Tzou</div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Special Events Director</b></div>
                                <div class="pull-right text-right">
                                    <div>Caroline "Adeline" Gao</div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Recruitment Chairs</b></div>
                                <div class="pull-right text-right">
                                    <div>Sydney "Arisa" Tzou</div>
                                    <div>Erica "Inarilumi" Alexander</div>
                                    <div>Jasmine "StaGGer" Pham</div>
                                    <div>Jarleen "Etérea" Dong</div>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Visual Director</b></div>
                                <div class="pull-right text-right">Monica "Perenna" Izaguirre</div>
                                <div class="clearfix"></div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="pull-left"><b>Web Director</b></div>
                                <div class="pull-right text-right">Leah "Aquilaria" O'Rourke</div>
                                <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>