<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">National Osteoperosis Foundation</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <img class="img-responsive" src="<?php echo SITE_URL .'public/images/philanthropy/dfl_letters_for_troops.jpg'; ?>">
                                <div class="caption">
                                    <label>Letters for Troops</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <img class="img-responsive" src="<?php echo SITE_URL .'public/images/philanthropy/dfl_lgbt_aapis.jpg'; ?>">
                                <div class="caption">
                                    <label>SE Regional Summit of LGBT AAPIs</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <img class="img-responsive" src="<?php echo SITE_URL .'public/images/philanthropy/dfl_tea_walk2.jpg'; ?>">
                                <div class="caption">
                                    <label>Tea Walk w/Alpha Chapter</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="thumbnail">
                                <img class="img-responsive" src="<?php echo SITE_URL .'public/images/philanthropy/dfl_sandwich_making.jpg'; ?>">
                                <div class="caption">
                                    <label>Sandwich Making for Shelters</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="well">
                    <h4 class="text-center"><em>"The National Osteoperosis Foundation is dedicated to preventing Osteoperosis, promoting strong bones, and reducing human suffering through education, advocacy, and research."</em></h4></div>
                    <p>The Gamma Chapter of Delta Phi Lambda Sorority, Inc. has partnered with the National Osteoperosis Foundation in order to help prevent Osteoperosis through awareness and research. We have made it out mission to help our communities prevent such a disease through awareness and promoting healthy lifestyles full of exercise and a nutritious diet.</p>
                    <label>What is Osteoperosis?</label>
                    <p>Osteoperosis is a disease that causes weak and brittle bones. This happens when your bones cannot rebuild as fast as they break down.</p>
                    <label>Symptoms of Osteoperosis:</label>
                    <ul>
                        <li>Loss of Height</li>
                        <li>Back Pain</li>
                        <li>Bad Posture</li>
                        <li>Bone Fractures</li>
                        <li>Collapsed Vertebra</li>
                    </ul>
                    <label>How You Can Prevent Osteoperosis:</label>
                    <ul>
                        <li>Active Lifestyle/Exercise</li>
                        <li>Strength Training</li>
                        <li>Reduced Alcohol and Tobacco Use</li>
                        <li>Eat Well-Balanced, Nutritious Meals</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p>Apart from fundrasing for Osteoperosis research and raising awareness to prevent Osteoperosis, Gamma Chapter does not limit itself to Osteoperosis related service. They also participate in community events such as the TEA (Together Empowering All) Walk and volunteering our services in order for local events to strive such as the Color Fun Fest or 'Trunk or Treat'.</p>
                </div>
            </div>
        </div>
    </div>
</div>