<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">Active House</h2>

                    <?php foreach ( $sisters as $sister ) { ?>
                        <div class="col-xs-2">
                            <div class="panel panel-primary">
                                <div class="panel-body text-center">
                                    <i class="fa fa-user-circle-o" style="font-size:140px;"></i>
                                </div>

                                <div class="panel-footer">
                                    <dl style="margin-bottom:0px;">
                                        <dd><strong><?php echo $sister['first_name']; ?> <?php echo $sister['last_name']; ?></strong></dd>
                                        <dd><?php echo '#' . $sister['line_number']; ?>  "<i><?php echo $sister['nickname']; ?></i>"</dd>
                                        <dd><?php echo $sister['class'] . ' Class'; ?></dd>
                                        <dd><?php echo $sister['semester']; ?></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
</div>