<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">Alumni Sisters</h2>

                    <?php $classNum = 0; ?>
                    <?php $isRowClosed = TRUE; ?>
                    <?php foreach ( $sisters as $class ) { ?>
                        <?php if ( $classNum == 0 ) { ?> <!-- start first row at first index -->
                            <div class="row">
                        <?php } ?>

                        <?php if ( $classNum > 0 && $classNum % 4 == 0 ) { ?> <!-- start a new row after every 4th class -->
                            </div>
                            <br>
                            <div class="row">
                            <?php $isRowClosed = FALSE; ?>
                        <?php } ?>

                        <div class="col-xs-3">
                            <table>
                                <thead>
                                    <tr>
                                        <th><?php echo $class['name'] . ' Class - '; ?><?php echo $class['semester']; ?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ( $class['roster'] as $sister ) { ?>
                                        <tr>
                                            <td><?php echo '#' . $sister['line_number']; ?> <?php echo $sister['first_name'] . ' "' ; ?><em><?php echo $sister['nickname'] . '" '; ?></em><?php echo $sister['last_name']; ?></td>
                                        </tr>
                                    <?php } ?>
                                </tbody>
                            </table>
                        </div>

                        <?php $classNum++; ?>
                    <?php } ?>

                    <?php if ( $isRowClosed == FALSE ) { ?>
                        </div>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
</div>